.tabs {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #DADDE1;
  margin-bottom: 20px;
}

.tabBtn {  
  padding: 5px 20px;  
  color: black;
}

.tabBtnActive {  
  border-bottom: 3px solid #06BCEE;
  padding: 5px 20px;
  font-weight: 500;
  color: black;
}

