div.logoImage:hover #logoText {
    color: #61DAFB !important;
    font-size: small;
}

.logoPic {
    animation: out 0.3s 1 linear;
}

.footerLink:hover {
    color:  #61DAFB;
}

div.logoImage:hover .logoPic {    
    animation: in 0.3s 1 linear;
}

@keyframes in {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes out {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media all and (max-width: 500px) {
    div.hero_hero__KMQi3 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 1000px;
    }

    div.hero_imageHero__VMrJv {
        height: 10px;
    }
}